body{
    background-color: #1f1e1e;
    color :#fff;
    overflow-y: scroll ;
}

h1{
    text-align: center;
}
.App{
    padding: 10px;
}
.todo-wrapper{
    background-color: #353434;
    padding: 2%;
    width: fit-content;
    margin: 0 auto;
}
.todo-input{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    /* border-bottom: 1px solid gray; */
    /* padding-bottom: 25px; */
    /* margin-bottom:25px ; */
    gap: 20px;
    /* height: 250px; */
}
.todo-input-item{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    /* margin-right: 25px; */
    row-gap: 10px;
}
.todo-input-item label{
    font-weight: 500;
}
.todo-input-item input{
    padding: 10px;
    background-color: #fff;
    border: none;
    width: 200px;
}
.todo-input-item input:focus{
    border: 2px solid rgb(0, 230, 122);
    outline: none;
}
.quill{
    height: 150px;
    margin-bottom: 50px;
}
.primary-btn{
    padding: 10px 20px;
    background-color: rgb(0, 230, 122);
    color: #fff;
    border: none;
    border-radius: 0px;
    cursor: pointer;
    margin-top: 28px;
}
.primary-btn:hover{
    background-color: rgb(8, 184, 87);
}
.btn-area{
    display: flex;
    align-items: flex-start;
    justify-content: start;
    column-gap: 10px;
    margin-bottom: 25px;
}
.btn-area button{
    padding: 10px 20px;
    /* background-color: rgb(0, 230, 122); */
    color: #fff;
    border: none;
    border-radius: 0px;
    cursor: pointer;
}
.secondaryBtn{
    background-color: rgb(71, 71, 71);
    color: #fff;
    border: none;
    border-radius: 0px;
    cursor: pointer;
}
/* .secondaryBtn:hover{
    background-color: rgb(8, 184, 87);
} */
.active{
    background-color: rgb(0, 230, 122);
}
.todo-list-area{
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}
.todo-list-item{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    background-color: rgb(71, 71, 71);
    color: #fff;
    border-radius: 0px;
    cursor: pointer;
    margin-bottom: 10px;
    box-shadow: 0px 3px 5px rgb(43, 42, 42);
}
.todo-list-item h3{
    font-size: 25px;
    color: rgb(0, 230, 122);
    font-weight: 500;
    margin: 0;
}
.todo-list-item p{
    margin-top: 8px;
    font-size: 16px;
    font-weight: 300;
    color: rgb(161, 161, 161);
}
.icon{
    font-size: 35px;
    cursor: pointer;
    margin-left: 10px;
    
}
.icon:hover{
    color: red;
}
.check-icon{
    font-size: 35px;
    color: rgb(0, 230, 122);
    cursor: pointer;
    margin-left: 10px;

}
.check-icon:hover{
    color: rgb(8, 184, 87);
}
/* Toolbar buttons */
.ql-toolbar .ql-picker,
.ql-toolbar button svg, .ql-snow .ql-stroke{
  color: #fff ;
  stroke:  #fff ;
}

/* Toolbar button hover and active states */
.ql-toolbar .ql-picker,
.ql-toolbar button:hover,
.ql-toolbar button.ql-active {
  color: #fff ;
  /* background-color: rgb(71, 71, 71) !important; */
}

/* Typing area background */
.ql-container {
  background-color: white;
}

/* Set default text color to ensure visibility on white background */
.ql-editor {
  color: black;
}

@media only screen and (max-width: 767px) {
    .todo-wrapper{
        /* width: 100%; */
        padding: 20px 10px;
    }

    .todo-input{
        flex-direction: column;
        align-items: flex-start;
        row-gap: 20px;
        flex-wrap: wrap;
        height: auto;
    }
    .todo-input-item{
        margin-right: 0;
        width: 100%;
    }
    .todo-input-item input{
        width: -webkit-fill-available;
    }
    .quill{
        /* height: 300px; */
        margin-bottom: 90px;
    }
}